<div class='container mt-5'>
<div class='row justify-content-center'>
  <div class='simple-form-container col-4' >
    <%= simple_form_for @watch do |f| %>
      <%= f.input :brand %>
      <%= f.input :model %>
      <%= f.input :year %>
      <%= f.input :description %>
      <%#= f.input :address %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class='row justify-content-center'>
        <%= f.submit 'Add a watch', class: 'btn btn-watchly' %>
      </div>
    <% end %>
  </div>
</div>
</div>
