<div class="card-box">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1600003014755-ba31aa59c4b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>

<!--<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
">
  <div class="container">
<div class="main-img"></div>
  <div class="box1" ></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  </div>
</div>





<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="d-flex">
        <% @watch.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 350, width: 300, crop: :fill %>
        <% end %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title"><%= @watch.brand %></h4>
            <h5 class="card-title"><%= @watch.model %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @watch.year %></h6>
            <p class="card-text"><%= @watch.description %></p>
            <button type="button" class="btn btn-success"><em>view price</em></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>s
</div>

<div class="row justify-content-center">
  <div class="col-8">
  <div class="d-flex">
    <% @watch.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
    <% end %>
