<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="d-flex">
        <% @watch.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 350, width: 300, crop: :fill %>
        <% end %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title"><%= @watch.brand %></h4>
            <h5 class="card-title"><%= @watch.model %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @watch.year %></h6>
            <p class="card-text"><%= @watch.description %></p>
            <button type="button" class="btn btn-success"><em>view price</em></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
